<!DOCTYPE html>
<html lang="en">

<head>
    <title>Reto Analítico Ecopetrol</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav class="nav navbar-nav navbar-center">
           
                   <img src="static/logo_ecopetrol.jpg" height="220px" width="650px"  class="img-rounded" alt="Logo Ecopetrol"style="margin-left: 30px;">
            </nav>
            <h3 class="text-muted" align="center">Reto Analítico Ecopetrol</h3>
        </div>

        <div class="jumbotron" >
        <form method="POST"  enctype="multipart/form-data">
            <h1>Edad pescados</h1>
            <p class="lead"></p>
            <label for="inputName" class="sr-only">Name</label>
            <label for="name">Digite el sexo:</label>
            <input type="input" name="sex"  >
            <label for="name">Diameter:</label>
            <input type="input" name="Diameter"  >
            <label for="name"> Height:</label>
            <input type="input" name="Height"  >
            <label for="name">Length:</label>
            <input type="input" name="Length"  >
            <label for="name">Shell weight:</label>
            <input type="input" name="Shellweight"  >
            <label for="name">Shucked weight':</label>
            <input type="input" name="Shuckedweight"  >
            <label for="name">Viscera weight:</label>
            <input type="input" name="Visceraweight"  >
            <label for="name">Whole weight:</label>
            <input type="input" name="Wholeweight"  >
            <br>   
            <p><!--a class="btn btn-lg btn-danger" href="signUp" role="button">Sign up today</a!-s-->
            <br>
             <input type="submit" class="btn btn-lg btn-success" value="Enviar"  >
            </p>
        </form>
        </div>

        <footer class="footer">
            <p>&copy; Idata 2019</p>
        </footer>

    </div>
</body>

</html>