<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Reto Analítico Ecopetrol</title>
 
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav class="nav navbar-nav navbar-center">
            
                   <img src="static/logo_ecopetrol.jpg" height="220px" width="650px"  class="img-rounded" alt="Logo Ecopetrol"style="margin-left: 30px;"> 
            </nav>
            <h3 class="text-muted" align="center">Reto Analítico Ecopetrol</h3>
        </div>
 
        <div class="jumbotron" >
        <form method="POST" action="/ecopetrol/api/v1.0/" enctype="multipart/form-data">
            <h1>Elementos de protección personal</h1>
            <p class="lead"></p>
            
            <br>    
            <p>
             <img  src="static/s.jpg"/>
            </p>
        </form>
		<br>
		<a href="/"><h4>Volver a inicio</h4></a>
        </div>
 
        <footer class="footer">
            <p>&copy; Idata 2019</p>
        </footer>
 
    </div>
</body>
 
</html>